[user]
	name = Audrius Mecionis
	email = audrius.mecionis@gmail.com
[core]
	excludesfile = $HOME/.dotfiles/.gitignore
    editor = vim
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[alias]
    d = difftool
